<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!--
    <component type="Autofac.Tests.Configuration.Core.ConfigurationExtensionsFixture+HasDictionaryProperty">
      <properties>
        <property name="Dictionary">
          <dictionary>
            <item key="a" value="1"/>
            <item key="b" value="2"/>
          </dictionary>
        </property>
      </properties>
    </component>
    <component type="Autofac.Tests.Configuration.Core.ConfigurationExtensionsFixture+HasEnumerableProperty">
      <properties>
        <property name="List">
          <list>
            <item value="1"/>
            <item value="2"/>
          </list>
        </property>
      </properties>
    </component>
    -->
    <component type="Autofac.Tests.Configuration.Core.ConfigurationExtensionsFixture+HasSimpleParametersAndProperties">
      <parameters>
        <parameter name="number" value="1" />
        <parameter name="ip" value="127.0.0.1" />
      </parameters>
      <properties>
        <property name="Text" value="text" />
        <property name="Url" value="http://localhost/" />
      </properties>
    </component>
  </components>
</configuration>